h1 {
  font-size: 40px;
  color: black;
  margin-bottom: 0px;
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-weight: 400;
  font-style: normal;
  padding-left: 5px;
}

h2 {
  color: black;
  margin-bottom: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-style: normal;
  text-align: center;
  padding-right: 10px;
}

/* sidebar css */
#page-title {
  text-decoration: none;
  font-size: 35px;
  color: black;
  margin-bottom: 40px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  padding-left: 5px;
}

.sidebar {
  flex-direction: column;
  border-right: 2px solid black;
  width: 300px;
  height: 100vh;
  position: fixed;
  display: flex;
  text-decoration: none;
}

.sidebar a {
  color: inherit;
  text-decoration: none;
}

.sidebar a:visited {
  color: inherit;
}

.sidebar .navbar {
  display: flex;
  flex-direction: column;
  padding: 5px;
  text-decoration: none;
  margin-bottom: 5px;
  gap: 50px;
}

.sidebar .navbar a {
  display: flex;
  text-decoration: none;
  gap: 10px;
  width: 100%;
  justify-content: left;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  border-radius: 999px;
  align-items: center;
}

.sidebar .navbar a:hover {
  background-color: #FFA07A;
}

.square {
  height: 20px;
  width: 20px;
  background-color: gold;
  display: inline-block;
  border: 2px solid black;
  border-radius: 5px;
}

.current .square {
  height: 20px;
  width: 20px;
  display: inline-block;
  background-color: red;
  border: 2px solid black;
  border-radius: 5px;
}

body {
  scroll-behavior: smooth;
  width: 100vw;
  overflow-x: scroll;

  height: 100vh;
  margin: 0px;
  background-color: #FAEBD7;
}

.post-header {
  display: flex;
  align-items: center;
  gap: 15px;
}

.avatar {
  background-color: white;
  border: 2px solid black;
  color: black;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  flex-shrink: 0;
}

/* POST SECTION CSS - needed to add this so we can control the column of posts since filter and posts are technically siblings in a flexbox */
.posts {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

.main-posts {
  margin-left: 300px;
}

.post-filter {
  display: flex;
  margin-left: 300px;
  padding: 20px;
  gap: 40px;

}

.post-info {
  background-color: white;
  border-radius: 10px;
  border: 2px solid black;
  width: 100%;
  max-width: 600px;
  padding: 10px;
  margin-bottom: 30px;
  font-family: "Montserrat", sans-serif;
}

.profile {
  background-color: #ffdfb5;
  margin-left: 300px;
  padding: 10px;
  border: 2px solid black;
  font-family: "Montserrat", sans-serif;
}

.profile-container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.profile-picture {
  background-color: white;
  border: 2px solid black;
  color: black;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
}

.profile-details {
  flex: 1;
  text-align: left;
}

.profile-details h2 {
  margin-top: 0;
  text-align: center;
  font-weight: bold;
}

.profile-posts {
  margin-left: 300px;
  padding: 10px;
}

.profile-posts h3 {
  margin-left: -600px;
  font-family: "Montserrat", sans-serif;
}

/* filter section css */
.filter {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  width: 200px;
}

.filter button {
  border: 2px solid gray;
  border-radius: 25px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  cursor: pointer;
  background-color: white;
  width: 200px;
  height: 50px;
  margin-bottom: 10px;
}

.filter button:hover {
  background-color: #FFA07A;
}

.filter-text {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: black;
  margin-right: 35px;
}

/* search bar css */
.search-bar-container {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  background-color: white;
  height: 35px;
  align-items: center;
  box-shadow: 0px 0px 8px gray;
}

#search-box {
  background-color: transparent;
  border: none;
  height: 100%;
  width: 100%;
  margin-left: 5px;

}

#search-box:focus {
  outline: none;
}

#search-icon {
  width: 16px;
  height: 16px;
  margin-left: 5px;
}

.create-post-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  max-width: 700px;
  margin: 0 auto;
  background-color: #ffdfb5;
  border-radius: 8px;
  margin-left: 300px;
}

.create-post-form input,
.create-post-form textarea,
.create-post-form select,
.create-post-form button {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
}

.create-post-form button  {
  border-radius: 20px;
  background-color: #FFA07A;
  border-color: black;
  font-weight: bold;
}

.create-post-form button:hover {
  cursor: pointer;
  background-color: #FF7F50;
}

.create-post-form label {
  font-family: "Montserrat", sans-serif;
}

.post-created p {
  font-family: "Montserrat", sans-serif;
}