h1 {
  color: black;
  margin-bottom: 40px;
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-weight: 400;
  font-style: normal;
  padding-left: 5px;
}

h2 {
  color: black;
  margin-bottom: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-left: 5px;
}

.sidebar {
  flex-direction: column;
  border-right: 2px solid black;
  width: 300px;
  height: 100vh;
  position: fixed;
  display: flex;
}

.sidebar .navbar {
  display: flex;
  flex-direction: column;
  padding: 5px;
  text-decoration: none;
  margin-bottom: 5px;
  gap: 50px;
}

.sidebar .navbar a {
  display: flex;
  text-decoration: none;
  gap: 10px;
  width: 100%;
  justify-content: left;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  border-radius: 999px;
  align-items: center;

}

.sidebar .navbar a:hover {
  background-color: #FFA07A;
}

.square {
  height: 20px;
  width: 20px;
  background-color: gold;
  display: inline-block;
  border: 2px solid black;
  border-radius: 5px;
}

.current .square {
  height: 20px;
  width: 20px;
  display: inline-block;
  background-color: red;
  border: 2px solid black;
  border-radius: 5px;
}

body {
  scroll-behavior: smooth;
  width: 100vw;
  overflow-x: scroll;

  height: 100vh;
  margin: 0px;
  background-color: #FAEBD7;
}

.post-header {
  display: flex;
  align-items: center;
  gap: 15px;
}

.avatar {
  background-color: white;
  border: 2px solid black;
  color: black;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  flex-shrink: 0;
}

.post-filter {
  display: flex;
  margin-left: 300px;
  padding: 20px;
  gap: 40px;
}

.post-info {
  background-color: white;
  border-radius: 10px;
  border: 2px solid black;
  width: 100%;
  max-width: 600px;
  padding: 10px;
  margin-bottom: 30px;
  font-family: "Montserrat", sans-serif;
}

.profile-info {
  /* background-color: #FFA07A; */
  background-color: #ffdfb5;
  margin-left: 300px;
  padding: 10px;
}

.profile-picture {
  flex-direction: column;
  background-color: white;
  border: 2px solid black;
  color: black;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
}

.filter {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  width: 200px;
}

.filter button {
  border: 2px solid gray;
  border-radius: 25px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  cursor: pointer;
  background-color: white;
  width: 200px;
  height: 50px;
  margin-bottom: 10px;
}

.filter button:hover {
  background-color: #FFA07A;
}

.filter-text {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: black;
  margin-right: 35px;
}